POSTGRES_DB=scanner_pliin
POSTGRES_USER=scanner
POSTGRES_PASSWORD=troque-por-uma-senha-longa-e-aleatoria
APP_DATABASE_PASSWORD=outra-senha-longa-exclusiva-para-a-aplicacao
AUTH_SECRET=gere-uma-chave-aleatoria-com-pelo-menos-32-caracteres
APP_PORT=3001
DATABASE_POOL_SIZE=10
NEXT_PUBLIC_APP_URL=http://localhost:3000
